#chat-page {
    display: grid;
    grid-template-columns: 310px 1fr;
    position: relative;
    overflow-x: hidden;

    @media (max-width: 767px) {
        & {
            display: block;
        }
    }
}