<div class="overlay">
    <div class="modal">
        <div class="modal__title">{{{ title }}}</div>
        <div class="modal__container">
            {{{ children }}}
        </div>
    </div>
</div>
