<div class="input">
    {{#if label}}<label for="{{{name}}}" class="input__label">{{{label}}}</label>{{/if}}
    {{{Input}}}
    {{#if error}}<p class="input__error">{{{errorMessage}}}</p>{{/if}}
</div>