{{#> PageLayout className="preview"}}
    <nav class="preview__links">
        <ul class="preview__list">
            <li class="preview__item">
                <a href="/main" class="preview__link">Chat</a>
            </li>
            <li class="preview__item">
                <a href="/profile" class="preview__link">Profile</a>
            </li>
            <li class="preview__item">
                <a href="/login" class="preview__link">Login</a>
            </li>
            <li class="preview__item">
                <a href="/register" class="preview__link">Register</a>
            </li>
            <li class="preview__item">
                <a href="/not-found" class="preview__link">Not Found</a>
            </li>
            <li class="preview__item">
                <a href="/error" class="preview__link">Error</a>
            </li>
        </ul>
    </nav>
{{/PageLayout}}

