@import '../../variables.scss';

.chat {
    display: grid;
    align-items: start;
    grid-template-columns: 47px 1fr 50px;
    grid-template-rows: 70px;
    column-gap: 10px;
    cursor: pointer;
    border-top: 1px solid $border-primary-color;
    font-family: $base-font;
    color: $primary-font-color;
    padding: 12px 0;

    .chat__content {
        .chat__title {
            font-size: 13px;
            font-weight: 600;
            line-height: 13px;
            margin-bottom: 4px;
        }
        .chat__preview {
            display: -webkit-box;
            font-size: 12px;
            line-height: 15px;
            font-weight: 500;
            color: $secondary-font-color;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;

            .chat__preview-me {
                color: $primary-font-color;
            }
        }
    }

    .chat__info {
        .chat__date {
            font-size: 9px;
            font-weight: 500;
            line-height: 13px;
            margin-bottom: 14px;
        }
    }

    &:hover {
        background-color: $hover-primary-light-color;
    }
}
