<div class="chat">
    {{> Avatar avatar=chat.avatar}}
    <div class="chat__content">
        <div class="chat__title">{{chat.title}}</div>
        <div class="chat__preview">
            {{#if chat.lastMessageMe}}<span class="chat__preview-me">Ğ’Ñ‹: </span>{{/if}}{{chat.preview}}
        </div>
    </div>
    <div class="chat__info">
        <div class="chat__date">{{chat.date}}</div>
        {{> Badge badge=chat.badge}}
    </div>
</div>
