@import '../../variables.scss';

.button {
    border: none;
    border-radius: 5px;
    background-color: $primary-color;
    color: $white-color;
    font-family: $base-font;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
    cursor: pointer;
    padding: 12px 20px;
    width: 100%;

    .button__icon {
        display: inline-flex;
    }

    &:hover {
        background-color: $hover-primary-color;
    }
}
