<button class="button" type="button">
    {{#if iconStart}}
        <span class="button__icon"><img src="{{{iconStart}}}" alt=""></span>
    {{/if}}
    {{#if text}}<span>{{text}}</span>{{/if}}
    {{#if iconEnd}}
        <span class="button__icon"><img src="{{{iconEnd}}}" alt=""></span>
    {{/if}}
</button>
