<main>
    <section class="register" id="register">
            <div class="register__content">
                {{{form}}}
                <div class="register__action">Уже есть аккаунт? <a class="register__link" href="/">Войти</a></div>
                {{#if error}}<p class="register__error">{{{errorMessage}}}</p>{{/if}}
            </div>
    </section>
</main>
