@import "../../variables";

#register {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    .register__content {
        width: 100%;
        max-width: 340px;
        box-shadow: 0 0 6px #00000024;
        border-radius: 12px;
        padding: 30px;

        .register__action {
            font-size: 11px;
            font-weight: 500;
            line-height: 11px;
            text-align: center;
            margin-top: 8px;
    
            .register__link {
                color: $primary-color;
                text-decoration: none;
    
                &:hover {
                    color: $hover-primary-color;
                }
            }
        }

        .register__error {
            color: rgb(235 45 45);
            font-size: 12px;
            margin: 8px 0 0;
            text-align: center;
        }
    }
}
