<main>
    <section class="profile" id="profile">
        <a href="/" class="profile__link">Вернуться к чатам</a>
        <div class="profile__header">
            <div class="profile__avatar">
                {{{avatar}}}
                <div class="profile__overlay">
                    <p class="profile__overlay-text">Поменять <br> аватар</p>
                </div>
            </div>
            <h2 class="profile__title">{{{name}}}</h2>
        </div>
        <form class="profile__content">
            <ul class="profile__list">
                {{{inputs}}}
            </ul>
            <button type="submit" class="button profile__actions-item profile__button">Изменить данные</button>
        </form>
        <div class="profile__actions">
            {{{actions}}}
        </div>
    </section>
</main>