<header class="top-panel">
    <div class="top-panel__avatar">
        {{> Avatar }}
        <h2 class="top-panel__title">{{title}}</h2>
    </div>
    <button class="top-panel__button"></button>
</header>
