<main>
    <section class="login" id="login">
        <div class="login__content">
            {{{form}}}
            <div class="login__actions">
                Еще нет аккаунта? <a class="login__link" href="/sign-up">Регистрация</a>
            </div>
            {{#if error}}<p class="login__error">{{{errorMessage}}}</p>{{/if}}
        </div>
    </section>
</main>