<div class="avatar">
    <div class="avatar__placeholder">
        {{#if image}}
            <img class="avatar__image" src="{{{image.src}}}" alt="{{{image.alt}}}" />
        {{/if}}
    </div>
</div>
