$base-font: "Inter", sans-serif;
$primary-font-color: #1E1E1E;
$secondary-font-color: #999999;

$primary-color: #3369F3;
$error-color: #FF0000;
$white-color: #FFF;

$hover-primary-color: #0056b3;
$hover-secondary-color: #868686;
$hover-error-color: #fa6363;

$hover-primary-light-color: #E4EDFD;

$border-primary-color: #EAEAEA;


