@import "../../variables";

.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 340px;
    width: 100%;

    .form__title {
        font-size: 20px;
        font-weight: 500;
        font-family: $base-font;
        margin: 20px auto 40px;
    }
}
