<div class="message{{#if isMessageMe}} message_me{{/if}}">
    {{#if content.image}}
        <div class="message__image-wrapper">
            <img class="message__image" src="{{{content.image}}}" alt="Image description">
        </div>
    {{/if}}
    <div class="message__content">
        {{content.text}}
        <div class="message__info">
            {{#if isMessageMe}}
                {{#if isRead}}<span class="message__read"></span>{{/if}}
            {{/if}}
            <span class="message__time">{{time}}</span>
        </div>
    </div>
</div>

