<main>
    <section class="not-found" id="not-found">
        <div class="not-found__content">
            <h1 class="not-found__title">404</h1>
            <p class="not-found__text">Не туда попали</p>
            <a href="/" class="not-found__link">На главную</a>
        </div>
    </section>
</main>