<main>
    <section class="error" id="error">
        <div class="error__content">
            <h1 class="error__title">{{{code}}}</h1>
            <p class="error__text">{{{message}}}</p>
            <a href="/" class="error__link">На главную</a>
        </div>
    </section>
</main>